:root{
  --bg:#050805;
  --card:#08170d;
  --border:#163320;
  --accent:#7EE787;
  --text:#F5F5F5;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}

body{
  background:var(--bg);
  color:var(--text);
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.btn{
  background:var(--accent);
  color:#000;
  border:none;
  padding:14px 24px;
  border-radius:12px;
  font-weight:700;
  cursor:pointer;
}

.card{
  background:var(--card);
  border:1px solid var(--border);
  border-radius:20px;
  padding:24px;
}

input{
  width:100%;
  padding:14px;
  border-radius:12px;
  border:1px solid var(--border);
  background:#111;
  color:white;
  margin-bottom:15px;
}